<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head">
</head>
<body>
<header th:replace="fragments/navigation::navigation">
</header>

<main>
    <div class="divider d-flex align-items-center my-4">
        <p class="text-center fw-bold mx-3 mb-0"></p>
    </div>
    <div class="divider d-flex align-items-center my-4">
        <p class="text-center fw-bold mx-3 mb-0"></p>
    </div>
    <!-- Page Content -->
    <input type="hidden" name="activityId" id="activityId"
           th:value="${detail.id}">
    <div class="container" th:object="${detail}">

        <!-- Portfolio Item Heading -->
        <h4>Project Name</h4>
        <h2 class="my-4" th:text="*{title}">Page Heading
            <small>Secondary Text</small>
        </h2>

        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-sm">
                <iframe width="700" height="500"
                        th:src="'https://www.youtube.com/embed/'+ *{videoUrl}">
                </iframe>
            </div>

            <div class="col-sm">
                <h3 class="my-3">Project Description</h3>
                <p th:text="*{description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                    euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing
                    et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <h5 class="my-3">Project Details</h5>
                <ul>
                    <h5>Creator</h5>
                    <h3 th:text="*{author.lastName}">Lorem Ipsum</h3>
                    <h5>Created</h5>
                    <h3 th:text="*{created}">Adipiscing Elit</h3>
                </ul>

                <div class="divider d-flex align-items-center my-1">
                    <p class="text-center fw-bold mx-3 mb-0"></p>
                </div>

                <form
                        id="commentForm"
                        th:method="post"
                        th:action="@{/api/{activityId}/comments(activityId=${detail.getId()})}">
                    <div class="form-floating">
                        <label for="message"></label>
                        <textarea
                                name="message"
                                type="text"
                                id="message"
                                class="form-control">
                         </textarea>
                        <div class="divider d-flex align-items-center my-1">
                            <p class="text-center fw-bold mx-3 mb-0"></p>
                        </div>
                        <input
                                type="submit"
                                class="btn btn-outline-success"
                                id="postComment"
                                value="Post comment"/>
                    </div>
                </form>


                <div class="divider d-flex align-items-center my-3">
                    <th:block th:if="*{isCanDelete()}">
                        <form th:action="@{/{id}/details(id = *{id})}"
                              th:method="delete">
                            <input type="submit" class="btn btn-lg btn-outline-danger" th:value="Delete"/></br>
                        </form>
                        <div class="divider d-flex align-items-center my-1">
                            <p class="text-center fw-bold mx-3 mb-0"></p>
                        </div>
                        <p><a class="btn btn-lg btn-outline-primary" th:href="@{/{id}/upload(id=*{id})}">Upload
                            Image</a></p>
                    </th:block>
                </div>
            </div>
            <!-- /.row -->

            <!-- Related Projects Row -->
            <h3 class="my-4">Related Pictures</h3>

            <div class="row row-cols-1 row-cols-md-3 g-4">

                <div class="col" th:each="p : ${details_with_pic}">
                    <div class="card h-100">

                        <img th:src="${p.getUrl()}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${p.getTitle()}">Card title</h5>
                            <p class="card-text" th:text="${p.getDescription()}">Description</p>
                        </div>
                        <div class="card-footer">

                            <form th:method="delete"
                            th:action="@{/details/delete/picture}">
                                <input type="hidden" name="publicId" th:value="${p.publicId}">
                                <input type="submit" class="btn-lg btn-outline-danger" value="Delete">
                            </form>

                        </div>
                    </div>
                </div>

            </div>
            <div>
                <span id="commentsContainer"></span>
            </div>

        </div>
    </div>
    <script th:src="@{/js/comments.js}"></script>
    <!-- /.row -->

    <!--        <p><a class="btn btn-lg btn-primary" th:href="@{/pictures/{id}/upload(id=*{id})}">Upload Image</a></p>-->


    <!-- /.container -->
</main>
</body>
<footer th:replace="fragments/footer::footer"></footer>
</html>